.app{
  min-height: 100vh;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  background-color: #c1d3fe;
}
.icon-link {
  color: #000000;
  text-decoration: none;
}
.icon-area {
  float: right;
  list-style: none;
  padding-right: 10px;
}
.icon-area li{
  text-decoration: none;
  padding: 5px 20px ;
  font-size: 20px;
  margin-bottom: 2px;
  margin-top: 10px;
}
.icon-area button{
  text-decoration: none;
  padding: 5px 20px ;
  font-size: 20px;
  margin-bottom: 2px;
  margin-top: 10px;
}
.icon-item :hover {
  color: #ffffff;
  transition: 1s ease;
}
.logolink img {
width: 150px;
padding-left: 1%;
padding-right: 1%;
margin-top: 15px;
margin-left: 5px;
}

/*  navbar */
.navbar {
 background-color:  #abc4ff;
}
#logo{
  margin-left: 15px;
  margin-right: 90px;
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 6px;
}
#logo span{
  color: black;
}
#logo #span1{
  font-size: 30px;
}
.navbar-nav{
  margin-left: 20px;
}
.nav-item{
  margin-left: 10px;
}
.nav-item .nav-link{
  color: white;
  margin-left: 2px;
  text-shadow: 0px 0px 1px black;
  transition: 0.5s ease;
}
.nav-item .nav-link:hover{
  color: #000000;
}
.dropdown-menu li a{
  color: white;
  transition: 0.5s ease;
}
.dropdown-menu li a:hover{
  background-color: #ffffff;
  color: #000000;
}
#search input{
  border-radius: 50px;
  border: none;
}
#search button{
  border-radius: 50px;
  color: rgb(0, 0, 0);
  border: 1px solid #ffffff;
  background-color: #ffffff;
}
#search button:hover{
  background-color: #c1d3fe;
}
/*  navbar  end */

div .tuote{
  height: 100px;
  width: 100px;
  display: flexbox;
  margin: 5px;
  border: 1px solid black;
}

.productlink :hover {
  color: #abc4ff;
}

a.productlink{
  text-decoration: none;
  color: black;
  font-size: larger;
  font-weight: bolder;
}

/*  footer start  */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 180px;
  background-color: rgb(226, 225, 225);
}

.social a {
  font-size: 3.5em;
  padding-right: 3rem;
  padding-left: 3rem;
  padding-bottom: 0;
  padding-top: 0;
}
.bi-facebook {
  color: #3b5998;
}
.bi-twitter {
  color: #00aced;
}
.bi-instagram {
  color: #517fa4;
}
.bi-youtube {
  color: #bb0000;
 }
 
 /*  footer end  */

.products-container {
  width: 200%; /* set the width to fill the parent container */
  overflow-x: scroll; /* add a horizontal scroll bar */
  overflow-y: hidden;
  height: 310px;
}

.products-list {
  display: flex;
  flex-wrap: nowrap; /* prevent wrapping of product items */
}

.product-item {
  flex-shrink: 0; /* prevent product items from shrinking */
  width: 250px; /* set the width of each product item */
  text-align: center;
}

.product-item img {
  max-width: 100%;
  height: auto;
  padding: 20px;
}

 @media (max-width: 992px) {
  .social a {
    font-size: 2.5em;
    padding: 1.5rem;
  }

  }
  @media (max-width: 768px) {
    .logolink img {
      margin-top: 18px;
      width: 130px;
  }
  .icon-area li{
    font-size: 15px;
    margin-top: 15px;
  }
}
