.app{
  min-height: 100vh;
}

div .tuote{
  height: 100px;
  width: 100px;
  display: flexbox;
  margin: 5px;
  border: 1px solid black;
}

header{
  width: 100%;
  height: 125px;
  background-color: #c1d3fe;
}

nav{
  width: 100%;
  height: 50px;
  background-color: #abc4ff;
}

.headerLeft{
  width: 100px;
}

.headerRight{
  margin-right: 5px;
}

a.navlink{
  text-decoration: none;
  color: white;
  font-size: larger;
  font-weight: bolder;
}

a.navlink :hover{
  color: gray;
}

a.productlink{
  text-decoration: none;
  color: black;
  font-size: larger;
  font-weight: bolder;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 180px;
  background-color: rgb(226, 225, 225);
}

.social a {
  font-size: 3.5em;
  padding-right: 3rem;
  padding-left: 3rem;
  padding-bottom: 0;
  padding-top: 0;
}
.bi-facebook {
  color: #3b5998;
}
.bi-twitter {
  color: #00aced;
}
.bi-instagram {
  color: #517fa4;
}
.bi-youtube {
  color: #bb0000;
 }

.products-container {
  width: 200%; /* set the width to fill the parent container */
  overflow-x: scroll; /* add a horizontal scroll bar */
  overflow-y: hidden;
  height: 280px;
}

.products-list {
  display: flex;
  flex-wrap: nowrap; /* prevent wrapping of product items */
}

.product-item {
  flex-shrink: 0; /* prevent product items from shrinking */
  width: 250px; /* set the width of each product item */
  text-align: center;
}

.product-item img {
  max-width: 100%;
  height: auto;

}
 @media (max-width: 992px) {
  .social a {
    font-size: 2.5em;
    padding: 1.5rem;
  }

  }
@media (max-width: 768px) {

  
  .carousel-caption {
    top: 35%;
  }
  .carousel-caption h1 {
    font-size: 280%;
  }
  .carousel-caption .btn {
    font-size: 95%;
    padding: 8px 14px;
  }
}
@media (max-width: 576px) {
  
}